* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-SemiBold.ttf);
  font-weight: 600;
}
button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: url("https://github.com/Kabakus/kartinki/blob/main/BG.png?raw=true");
  background-attachment: fixed;
}

.body {
  background: linear-gradient(180deg, rgba(252, 208, 0, 0.8) 0%, rgba(244, 101, 254, 0.8) 5%, rgba(0, 149, 255, 0.8) 73%, rgba(0, 153, 41, 0.8044467787) 96%);
}

.container {
  margin: 0px auto;
  max-width: 1280px;
}

.header {
  height: 1100px;
  padding-top: 50px;
  background: url("https://github.com/Kabakus/kartinki/blob/main/hogwhead.png?raw=true") no-repeat center center/cover;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.5);
}
.header__wrapper {
  display: flex;
}
.header__logos {
  display: flex;
  flex-direction: column;
}
.header__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}
.header__text {
  font-weight: 500;
  font-size: 32px;
  max-height: 50px;
  padding-top: 80px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.header__text_1 {
  color: #42B132;
}
.header__text_1::before {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/phone.svg");
  bottom: -10px;
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.header__text_2 {
  color: #E71E07;
}
.header__text_2::before {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/question.svg");
  bottom: -10px;
  position: relative;
}
.header__text_3 {
  color: #FF9D00;
}
.header__text_3::before {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/map%20(1).svg");
  bottom: -10px;
  position: relative;
}
.header__text_4 {
  color: #009CDA;
}
.header__text_4::before {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/profile%20(1).svg");
  bottom: -10px;
  position: relative;
}
.header__title {
  font-weight: 800;
  font-size: 100px;
  color: #fff;
  text-shadow: 8px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 28%;
}

#myenter {
  background: none;
  cursor: pointer;
  border: none;
}

.enter {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.enter__box {
  display: flex;
  flex-direction: column;
}
.enter__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px 20px;
}
.enter__input {
  background-color: #F9B300;
  padding: 10px 0px 10px 15px;
  font-weight: 400;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.enter__input-btn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFB3E7;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.enter__input_last::after {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/eye.svg");
}
.enter__login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}
.enter__login-text {
  font-weight: 700;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #2E0057;
  margin-top: 20px;
}
.enter__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.enter__title {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 30px 0px 30px 0px;
}
.enter__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.enter__close:hover {
  color: #000;
}
.enter__btn-link {
  border: none;
  width: 100%;
  margin: 20px;
}
.enter__login-btn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFB3E7;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 98%;
}

#myreg {
  background: none;
  cursor: pointer;
  border: none;
}

.log {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.log__box {
  display: flex;
  flex-direction: column;
}
.log__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px 20px;
}
.log__input {
  background-color: #F9B300;
  padding: 10px 0px 10px 15px;
  font-weight: 400;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.log__input-btn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFB3E7;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.log__input_last::after {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/eye.svg");
}
.log__login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}
.log__login-text {
  font-weight: 700;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #2E0057;
  margin-top: 20px;
}
.log__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.log__title {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 30px 0px 30px 0px;
}
.log__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.log__close:hover {
  color: #000;
}
.log__btn-link {
  border: none;
  width: 100%;
  margin: 20px;
}
.log__login-btn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFB3E7;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 98%;
}

#myclose {
  background: none;
  cursor: pointer;
  border: none;
}

#myBtn {
  background: none;
  cursor: pointer;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__text {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.modal__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.modal__close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal__header {
  padding: 2px 16px;
  color: white;
}
.modal__body {
  padding: 2px 16px;
}
.modal__footer {
  padding: 2px 16px;
  color: white;
}

.menu {
  z-index: 2;
}
.menu__box {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}
.menu__bar {
  height: 5px;
  width: 100%;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu__bar-1 {
  transform: translateY(-4px);
  background-color: #F465FE;
}
.menu__bar-2 {
  background-color: #0095FF;
}
.menu__bar-3 {
  transform: translateY(4px);
  background-color: #009929;
}
.menu__nav {
  transition: 0.3s ease;
  display: none;
}
.menu__list {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu__link {
  list-style: none;
  padding: 12px 0;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.menu__link:hover {
  font-weight: bold;
}
.menu__map {
  padding: 12px 0;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.menu__map:hover {
  font-weight: bold;
}
.menu__change {
  display: block;
}
.menu__change .menu__bar {
  background-color: white;
}
.menu__change .menu__bar-1 {
  transform: translateY(4px) rotateZ(-1125deg);
}
.menu__change .menu__bar-2 {
  opacity: 0;
}
.menu__change .menu__bar-3 {
  transform: translateY(-6px) rotateZ(1125deg);
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: fixed;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #0095FF, #F465FE, #FCD000, #FCD000);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

#myBtnu {
  background: none;
  cursor: pointer;
  border: none;
}

.modalu {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modalu__text {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.modalu__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modalu__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.modalu__close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modalu__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modalu__header {
  padding: 2px 16px;
  color: white;
}
.modalu__body {
  padding: 2px 16px;
}
.modalu__footer {
  padding: 2px 16px;
  color: white;
}

.cont {
  margin-top: 200px;
}

.info {
  margin-top: 120px;
}
.info__wrapp {
  display: flex;
  flex-direction: row;
}
.info__box {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.info__title {
  font-weight: 800;
  font-size: 64px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.info__text {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: start;
  margin-top: 15px;
}
.info__png {
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.png {
  height: 800px;
  margin-top: 200px;
  background: url("https://github.com/Kabakus/kartinki/blob/main/pott2.png?raw=true") no-repeat center center/cover;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.5);
}

.place {
  margin-top: 200px;
}
.place__title {
  font-weight: 800;
  font-size: 64px;
  color: #A70F0F;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.place__grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4;
  gap: 60px;
}
.place__searcher {
  margin-top: 60px;
  margin-left: 30PX;
  font-weight: 600;
  font-size: 28px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: #2E0057;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.place__searcher::-moz-placeholder {
  color: #2E0057;
}
.place__searcher::placeholder {
  color: #2E0057;
}
.place__grid-el {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
}
.place__png {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  height: 383px;
}
.place__subtitle {
  color: ORANGE;
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.place__sort {
  margin-top: 25px;
  margin-left: 30PX;
  font-weight: 600;
  font-size: 28px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: #2E0057;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.place__filter {
  margin: 25px 0px 0px 30px;
  display: flex;
  flex-direction: row;
}
.place__show-filters {
  margin-right: 25px;
  font-weight: 600;
  font-size: 28px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: #2E0057;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.place__filter-button {
  font-weight: 600;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  background-color: #2E0057;
  color: orange;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 1.5px;
}

.foot {
  margin-top: 300px;
}
.foot__container {
  display: flex;
}
.foot__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.foot__title-box {
  align-items: flex-end;
  text-align: end;
}
.foot__sup {
  cursor: pointer;
  border: none;
  background: none;
  filter: blur(blur);
  font-size: 40px;
  color: transparent;
  text-shadow: 0 0 5px #000;
  font-weight: 700;
}
.foot__about {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 700;
  font-size: 40px;
  color: #26D90D;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.foot__us {
  font-weight: 700;
  font-size: 40px;
  color: #FF9D00;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.foot__protect {
  font-weight: 700;
  font-size: 40px;
  color: #009CDA;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.foot__konf {
  font-weight: 700;
  font-size: 40px;
  color: #E71E07;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.about {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.about__header {
  padding: 2px 16px;
  color: white;
}
.about__body {
  padding: 2px 16px;
}
.about__title {
  text-align: center;
  color: #2E0057;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.about__text {
  color: #2E0057;
  font-weight: 700;
  font-size: 28px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.about__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.about__closex {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.about__closex:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.about__closex:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.page-item {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid orange;
  color: orange;
  border-radius: 5px;
  font-size: 20px;
}
.page-item.active {
  background-color: orange;
  color: white;
}
.page-item:hover {
  background-color: #ffe5b4;
  color: white;
}

.buy {
  margin-top: 200px;
}
.buy__title {
  color: #74FF9E;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  text-align: center;
}