* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-SemiBold.ttf);
  font-weight: 600;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: url("https://github.com/Kabakus/kartinki/blob/main/BG.png?raw=true");
  background-attachment: fixed;
}

.mapy {
  border-top: 5px solid #2E0057;
}

.body {
  background: linear-gradient(180deg, rgba(252, 208, 0, 0.8) 0%, rgba(244, 101, 254, 0.8) 5%, rgba(0, 149, 255, 0.8) 73%, rgba(0, 153, 41, 0.8044467787) 96%);
}

.container {
  margin: 0px auto;
  max-width: 1280px;
}

.header {
  height: 250px;
  padding-top: 50px;
}
.header__wrapper {
  display: flex;
}
.header__logos {
  display: flex;
  flex-direction: column;
}
.header__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
}
.header__text {
  font-weight: 500;
  font-size: 32px;
  max-height: 50px;
  padding-top: 80px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.header__text_1 {
  color: #42B132;
}
.header__text_1::before {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/phone.svg");
  bottom: -10px;
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.header__text_2 {
  color: #E71E07;
}
.header__text_2::before {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/question.svg");
  bottom: -10px;
  position: relative;
}
.header__text_3 {
  color: #FF9D00;
}
.header__text_3::before {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/map%20(1).svg");
  bottom: -10px;
  position: relative;
}
.header__text_4 {
  color: #009CDA;
}
.header__text_4::before {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/profile%20(1).svg");
  bottom: -10px;
  position: relative;
}

#myenter {
  background: none;
  cursor: pointer;
  border: none;
}

.enter {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.enter__box {
  display: flex;
  flex-direction: column;
}
.enter__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px 20px;
}
.enter__input {
  background-color: #F9B300;
  padding: 10px 0px 10px 15px;
  font-weight: 400;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.enter__input-btn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFB3E7;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.enter__input_last::after {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/eye.svg");
}
.enter__login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}
.enter__login-text {
  font-weight: 700;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #2E0057;
  margin-top: 20px;
}
.enter__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.enter__title {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 30px 0px 30px 0px;
}
.enter__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.enter__close:hover {
  color: #000;
}
.enter__btn-link {
  border: none;
  width: 100%;
  margin: 20px;
}
.enter__login-btn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFB3E7;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 98%;
}

#myreg {
  background: none;
  cursor: pointer;
  border: none;
}

.log {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.log__box {
  display: flex;
  flex-direction: column;
}
.log__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0px 20px;
}
.log__input {
  background-color: #F9B300;
  padding: 10px 0px 10px 15px;
  font-weight: 400;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.log__input-btn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFB3E7;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.log__input_last::after {
  content: url("https://raw.githubusercontent.com/Kabakus/kartinki/c6ca49978906187fa936f913218ef5985b1cdba3/eye.svg");
}
.log__login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}
.log__login-text {
  font-weight: 700;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #2E0057;
  margin-top: 20px;
}
.log__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.log__title {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 30px 0px 30px 0px;
}
.log__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.log__close:hover {
  color: #000;
}
.log__btn-link {
  border: none;
  width: 100%;
  margin: 20px;
}
.log__login-btn {
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFB3E7;
  color: #ffffff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 98%;
}

#myclose {
  background: none;
  cursor: pointer;
  border: none;
}

#myBtn {
  background: none;
  cursor: pointer;
  border: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__text {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.modal__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.modal__close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal__header {
  padding: 2px 16px;
  background-color: #F5F5DC;
  color: white;
}
.modal__body {
  padding: 2px 16px;
}
.modal__footer {
  padding: 2px 16px;
  background-color: #9C27B0;
  color: white;
}

.menu {
  z-index: 2;
}
.menu__box {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}
.menu__bar {
  height: 5px;
  width: 100%;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu__bar-1 {
  transform: translateY(-4px);
  background-color: #F465FE;
}
.menu__bar-2 {
  background-color: #0095FF;
}
.menu__bar-3 {
  transform: translateY(4px);
  background-color: #009929;
}
.menu__nav {
  transition: 0.3s ease;
  display: none;
}
.menu__list {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu__link {
  list-style: none;
  padding: 12px 0;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.menu__link:hover {
  font-weight: bold;
}
.menu__map {
  padding: 12px 0;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.menu__map:hover {
  font-weight: bold;
}
.menu__change {
  display: block;
}
.menu__change .menu__bar {
  background-color: white;
}
.menu__change .menu__bar-1 {
  transform: translateY(4px) rotateZ(-1125deg);
}
.menu__change .menu__bar-2 {
  opacity: 0;
}
.menu__change .menu__bar-3 {
  transform: translateY(-6px) rotateZ(1125deg);
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: fixed;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #0095FF, #F465FE, #FCD000, #FCD000);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%, -30%);
}

#myBtnu {
  background: none;
  cursor: pointer;
  border: none;
}

.modalu {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modalu__text {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-align: center;
}
.modalu__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modalu__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.modalu__close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modalu__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modalu__header {
  padding: 2px 16px;
  background-color: #F5F5DC;
  color: white;
}
.modalu__body {
  padding: 2px 16px;
}
.modalu__footer {
  padding: 2px 16px;
  background-color: #9C27B0;
  color: white;
}

#slider__slides {
  position: relative;
  height: 615px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slider {
  margin-top: 30px;
}
.slider__slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px 30px rgba(34, 60, 80, 0.2);
}
.slider__slide:nth-of-type(1) {
  background: url("https://github.com/Kabakus/kartinki/blob/main/1scroll%20(1).png?raw=true") no-repeat center center/cover;
}
.slider__slide:nth-of-type(2) {
  background: url("https://github.com/Kabakus/kartinki/blob/main/2scroll%20(1).png?raw=true") no-repeat center center/cover;
}
.slider__slide:nth-of-type(3) {
  background: url("https://github.com/Kabakus/kartinki/blob/main/3scroll%20(1).png?raw=true") no-repeat center center/cover;
}
.slider__slide:nth-of-type(4) {
  background: url("https://github.com/Kabakus/kartinki/blob/main/4scroll%20(1).png?raw=true") no-repeat center center/cover;
}
.slider__slide:nth-of-type(5) {
  background: url("https://github.com/Kabakus/kartinki/blob/main/5scroll%20(1).png?raw=true") no-repeat center center/cover;
}
.slider .showing {
  opacity: 1;
  z-index: 0;
}
.slider__title {
  position: relative;
  color: #fff;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 500px;
  text-align: start;
  margin-top: 50px;
  margin-left: 70px;
}
.slider__link {
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #50F4D9;
  border-radius: 20px;
  font-weight: 800;
  font-size: 36px;
  color: #000;
  padding: 20px 0px;
  text-align: center;
  width: 460px;
  margin-top: 15px;
  margin-left: 70px;
}

#sliderMap {
  cursor: pointer;
  border: none;
}

.modals {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modals__text {
  color: #2E0057;
  font-weight: 800;
  font-size: 64px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-align: center;
}
.modals__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modals__close {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.modals__close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modals__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modals__header {
  padding: 2px 16px;
  background-color: #F5F5DC;
  color: white;
}
.modals__body {
  padding: 2px 16px;
}
.modals__footer {
  padding: 2px 16px;
  background-color: #9C27B0;
  color: white;
}

.ways {
  margin-top: 20px;
}
.ways #attention {
  background: none;
  border: none;
}
.ways__title {
  font-weight: 800;
  font-size: 64px;
  color: #A70F0F;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.ways__usebox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ways__form {
  display: flex;
}
.ways__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 16px;
}
.ways__btn {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 6px 8px;
  font-size: 16px;
  cursor: pointer;
}
.ways__el {
  align-items: center;
  text-align: center;
}
.ways__grid-box {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  gap: 80px;
}
.ways__png {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 70px;
  width: 575px;
  height: 447px;
  cursor: pointer;
}
.ways__grid-title {
  font-weight: 700;
  font-size: 48px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.ways__text {
  font-weight: 500;
  font-size: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.ways__link {
  position: relative;
  display: inline;
  top: 30px;
  font-weight: 800;
  font-size: 33px;
  color: #fff;
  background-color: #EFB3E7;
  border-radius: 30px;
  width: 511px;
  padding: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.ways__link_not {
  cursor: pointer;
}

.help {
  margin-top: 200px;
  background-color: #F5F5DC;
  box-shadow: 0px 0px 30px 15px rgba(34, 60, 80, 0.2);
}
.help__wrapper {
  display: flex;
  flex-direction: row;
}
.help__box {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 80px;
  text-align: left;
  margin-right: 200px;
}
.help__title {
  font-weight: 800;
  font-size: 64px;
  color: #2E0057;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.help__text {
  font-weight: 500;
  font-size: 24px;
  color: #003515;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}
.help__mail {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.help__btn {
  color: #fff;
  background-color: #EFB3E7;
  border-radius: 30px;
  font-size: 35px;
  font-weight: 800;
  width: 526px;
  text-align: center;
  padding: 25px 0px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.help__png {
  border-radius: 70px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 540px;
  height: 540px;
  margin: 30px 30px 30px 0px;
}

#myBtnex {
  cursor: pointer;
  border: none;
}

#myExp {
  cursor: pointer;
  border: none;
}

.modalex {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modalex__text {
  text-align: center;
  color: #2E0057;
  font-weight: 800;
  font-size: 60px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.modalex__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modalex__closex {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.modalex__closex:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modalex__closex:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modalex__header {
  padding: 2px 16px;
  background-color: #F5F5DC;
  color: white;
}
.modalex__box {
  display: flex;
  flex-direction: column;
  padding: 2px 16px;
  background-color: #F5F5DC;
  align-items: center;
}
.modalex__input {
  font-weight: 500;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 5vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.modalex__btn {
  background-color: #EFB3E7;
  width: 320px;
  border-radius: 70px;
  font-size: 32px;
  font-weight: 800;
  padding: 25px 0px;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.modalex .modals-footer {
  padding: 2px 16px;
  background-color: #9C27B0;
  color: white;
}

.questions {
  margin-top: 200px;
}
.questions__title {
  color: #E6E6FA;
  font-weight: 800;
  font-size: 64px;
  margin-bottom: 55px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.questions__box {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.questions__quest {
  display: flex;
  flex-direction: column;
  background-color: #FFE5B4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.questions__subtitle {
  font-weight: 500;
  font-size: 48px;
  color: #297F56;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 15px 0px 20px 20px;
}
.questions__text {
  font-weight: 500;
  font-size: 28px;
  color: #297F56;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0px 0px 20px 20px;
}
.questions__mail {
  color: #297F56;
  text-decoration: none;
  font-weight: 700;
}

.foot {
  margin-top: 300px;
}
.foot__container {
  display: flex;
}
.foot__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.foot__title-box {
  align-items: flex-end;
  text-align: end;
}
.foot__about {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 700;
  font-size: 40px;
  color: #26D90D;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.foot__us {
  font-weight: 700;
  font-size: 40px;
  color: #FF9D00;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.foot__protect {
  font-weight: 700;
  font-size: 40px;
  color: #009CDA;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.foot__konf {
  font-weight: 700;
  font-size: 40px;
  color: #E71E07;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.about {
  display: none;
  position: fixed;
  z-index: 4;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.about__header {
  padding: 2px 16px;
  color: white;
}
.about__body {
  padding: 2px 16px;
}
.about__title {
  text-align: center;
  color: #2E0057;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.about__text {
  color: #2E0057;
  font-weight: 700;
  font-size: 28px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.about__content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 5px solid #2E0057;
  background-color: #F5F5DC;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.about__closex {
  color: #2E0057;
  float: right;
  font-size: 35px;
  font-weight: bold;
  top: -10px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}
.about__closex:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.about__closex:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}